.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 20px;
  padding: 50px 100px;
}

.Order {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

.Form {
  display: flex;
  flex-direction: column;
  height: 15vh;
  padding-top: 5px;
}

.Summary {
  display: flex;
  flex-direction: column;
  height: 15vh;
  padding: 0;
  margin: 0;
}

.Summary > h2 {
  padding: 0;
  margin: 0;
}

.Summary > h3 {
  padding: 0;
  margin: 0;
  padding: 10px 0;
}

.Summary > p {
  padding: 0;
  margin: 0;
}
